
#repertoire img {
    max-width: 150px;
    max-height: 150px;
    margin: 0px auto;
}

#repertoire .texte {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: small;
}

#repertoire {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: small;
}


