#contenu textarea {
    border: solid 1px #63c000;
}

#contenu .element:hover {
    background-color: #f2f4ee;
    padding-bottom:30px;
    box-shadow: inset 0px 0px 20px 10px white;
}


/* Les boutons sont masqués par défaut */
#contenu .element .bouton {
    position: relative;
    float: left;
    /* Par défaut, ils sont cachés */
    display: none;
    /* Dimension bouton */
    height : 10px;
    width: 100px;
    /* Espace autour bouton */
    margin-right: 10px;
    margin-bottom: 10px;
    /* Espace sous le texte dans le bouton */
    padding-bottom: 7px;
    /* Définition bordure */
    border-style: solid;
    border-width: 1px;
    border-color: #ff9600;
    /* Suppression du typage du lien */
    text-decoration: none;
    color: black;
    /* Couleur de fond */
    background-color: white;
    text-align: center;
    font-size: small;
}

#contenu .element .bouton:hover{
    color:white;
    background-color: #ff9600;
}

/* Ajout d'un espace entre le texarea et les boutons*/
#contenu textarea {
    margin-bottom: 10px;
}

/* Les boutons sont affichés en cas de survol - en fonction des affichages définis en PHP */
#contenu .element:hover .bouton {
    display: block;
}


/* Par défaut le textarea est masqué */
#contenu .texteModifiable {
    display: none;
}


/* De même que les boutons de validations de modification */
#contenu .boutons_validation {
    display: none;
}



#contenu .element.modification:hover {
    background-color: #ffD0D0;
}


/* Pour forcer l'affichage des boutons - qui seront masqués par type de boutons */
#contenu .element.modification .bouton {
    display: block;
}




