#slideshow .bouton_slideshow {

        display: block;
        /* Dimension bouton */
	height : 10px;
	width: 250px;
        /* Espace autour bouton */
        margin-right: 10px;
        margin-bottom: 10px;
        /* Espace sous le texte dans le bouton */
	padding-bottom: 7px;
        /* Définition bordure */
	border-style: solid;
	border-width: 1px;
	border-color: #596275;
	border-radius: 3px;
        /* Suppression du typage du lien */
	text-decoration: none;
	color: black;
        /* Couleur de fond */
	background-color: #f2f4ee;
	text-align: center;
	font-size: small;
        margin: 0px auto;
}

#slideshow img {
	max-width: 150px;
        margin: 0px auto;
}

#slideshow .nomImage {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: small;
}

#upload {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: small;
}

