#contenu {
	margin-left: 15%;
	margin-right: 15%;
	/* Justification du texte */
	text-align: justify;
	text-justify: inter-word;
}

#contenu {
	font-family: 'Roboto', sans-serif;
}



#contenu img {

	/* Ajout d'une bordure */
	border: 1px solid #021a40;
	/* Ajout de coins arrondis */
	border-radius: 5px;
	/* Bridage de la taille maximale des images */
	max-height: 400px;
	max-width: 800px;
	/* Centrer image (deux lignes n�cessaires) */
	display: block;
	/* Deuxi�me pour center l'image,
	* Par d�faut, on met 0,
	* mais ici, on ajoute un peu de marges
	* autour de l'image.
	*/
	margin: 50px auto;
}

#contenu h1, #contenu h2 {
	font-family: 'Gochi Hand', cursive;
	/* Couleur des titres */
	color: #5466a5;
}

#contenu h1 {
	/* Position du titre */
	text-align: center;
	/* Taille du titre */
	font-size: 140%;
}


#contenu h2 {
	
	/* Position du titre */
	text-indent: 50px;
	/* Taille du titre */
	font-size: 120%;
}

@media screen and (min-width: 1100px) {
#contenu {
    	margin-top:80px;
	margin-bottom:40px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1100px) {
#contenu {
    	margin-top:110px;
	margin-bottom:40px;
  }
}

@media screen and (min-width: 598px) and (max-width: 640px) {
#contenu {
    	margin-top:130px;
	margin-bottom:55px;
  }
}

@media screen and (min-width: 370px) and (max-width: 598px) {
#contenu {
    	margin-top:130px;
	margin-bottom:55px;
  }
}

@media screen and (min-width: 360px) and (max-width: 370px) {
#contenu {
    	margin-top:210px;
	margin-bottom:70px;
  }
}

@media screen and (max-width: 360px) {
#contenu {
    	margin-top:210px;
	margin-bottom:70px;
  }
}