/* Le lien vers la police est dans ihm/css/css_base.php */
@font-face {
	font-family: "Muli";
	src: url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900');
}

/* On applique à l'ensemble du document et on fait des exceptions */
body {
    /* Poid normal = 400, pas possible de mettre moins */
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #444444;
}



/* Liens directs ou dans menu */
#menu, #menu a {
    color: #2b3664;
}

/* Titres et sous-tires dans les articles */
/* La taille est exprimée en 'em', norme responsive */
#contenu h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
}   
#contenu h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 1.6em;
}    

/* Nom menus (et articles par dépendance parent) */
#menu .titres li {
    font-weight: 600;
    font-style: normal;
}

/* Surchage nom articles */
#menu .lignes li {
    font-weight: normal;
}

#footer {
    	color: white;
        font-style: normal;
        font-size: 0.5em;
}

#footer a {
        color: white;
        font-style: normal;
        font-size: 1em;
}