/* Liste des polices chargées */
@font-face {
	src: url('https://fonts.googleapis.com/css?family=Gochi+Hand');
	/* La Roboto n'est utilis�e que dans le texte de la div contenu */
	src: url("https://fonts.googleapis.com/css?family=Roboto");
}

body {
	font-family: 'Gochi Hand', cursive;
}